@model MobileMoneyTutorial.Models.ConfirmationResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConfirmationResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessShortCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessShortCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillRefNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillRefNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgAccountBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgAccountBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdPartyTransID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdPartyTransID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MSISDN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MSISDN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
